@import "base";

@keyframes bg-scroll-y {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url("/images/bg.svg");
  background-size: 50%;
  background-repeat: repeat;
  animation: bg-scroll-y 40s infinite linear;
}

header {
  margin: 2rem;

  display: flex;

  nav {
    display: flex;
  }
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50%;
  max-width: 600px;

  .signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-top: 2em;
  }

}

footer {
  margin: 2rem;

  display: flex;
  justify-content: space-between;

  nav {
    &.links {
      a {
        margin-right: 1em;
      }
    }
    &.social {
      a {
        padding-left: 0.2em;
      }
    }
  }
}

#mc_embed_signup {
  width: 100%;
}

.logo {
  min-width: 100px;
  margin: 0 0 0.5em 0;
}

.brand {
  color: $color-neutral;
  margin-bottom: 0.5em;
}

.portfolio-modal {
  padding-left: 0 !important;

  .modal-content {
    border-radius: 0;
    background-clip: border-box;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    h2 {
      margin-bottom: 15px;
      font-size: 3em;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      margin: 20px 0 30px;;
      font-style: italic;
      font-size: 1em;
    }
    ul.list-inline {
      margin-top: 0;
    }
  }
  .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      height: 75px;
      width: 1px;
      margin-left: 35px;
      background-color: $color-neutral-90;
      transform: rotate(45deg);
      z-index: 1051;
      .rl {
        height: 75px;
        width: 1px;
        background-color: $color-neutral-90;
        transform: rotate(90deg);
        z-index: 1052;
      }
    }
  }
}

@media (max-width: $sm) {
  .portfolio-modal .modal-content h2 {
    font-size: 2em;
  }
}
