@import "base";

body, html {
  height: 100%;
}

body {
  background-image: url("/images/bg.svg");
  background-size: 50%;
  background-repeat: repeat;
}

.site-main {
  padding-top: 1.5rem;
  height: 100%;
}

.site-container {
  margin: 0 auto;
  padding: .75rem 2rem;
  max-width: 1170px;
  height: 100%;
}

.site-section {
  margin: 0 auto;
  max-width: 600px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  clear: both;
}

.site-section__main {
  margin-top: 4em;
}

.fixed-bottom {
  position: absolute;
  bottom: 2em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

nav {
  a {
    padding: 0 0.5em 0 0;
  }
}

$input-height: 2.85rem;
$icon-height: 1.5rem;

// site-input
.site-input {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.site-input__icon {
  position: absolute;
  top: calc(50% - (#{$icon-height} / 2));
  left: .75rem;
  pointer-events: none;
  display: block;
  width: $icon-height;
  height: $icon-height;
  fill: $color-neutral-20;
}

.site-input__input {
  height: $input-height;
  width: 20em;
  padding-right: .5rem;
  padding-left: .5rem;
  border: 1px solid $color-neutral-30;
  border-right: none;
  color: $color-neutral-60;
  &:hover, &:focus, &:active {
    outline: none;
    color: $color-neutral;
    border-color: $color-neutral-50;
  }
}

.site-input__input--icon {
  padding-left: 2.75rem;
}

.site-input__input--no-border {
  border: none;
}
