// buttons

button {
  padding: .333rem .75rem;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  background-color: transparent;
  color: $color-neutral-70;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  letter-spacing: .02em;
  &:hover, &:focus {
    color: $color-neutral;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
  }
}
