// links
a {
  color: $color-neutral;
}

a:hover,
a:focus {
  color: $color-neutral-70;
}

a[disabled],
.link--disabled {
  color: $color-neutral-40;
  &:hover,
  &:focus {
    color: $color-neutral-40;
  }
}
