+abstract('Tiffany Conroy', 'Remote device sign-in – Authenticating without a keyboard', 'remote-device-sign-in-authenticating-without-a-keyboard')
  p.text-muted
    a(href='http://tif.ca') Tiffany Conroy
  +social('theophani', 'theophani')
