+abstract('Ola Gasidlo', 'Let\'s save the internet: How to make browsers compatible with the web', 'lets-save-the-internet-How-to-make-browsers-compatible-with-the-web')
  p.text-muted
    a(href='https://webcompat.com/') webcompat
  +social('misprintedtype', 'zoepage')
