+abstract('Cory-Ann Joseph', 'Why a poker playing AI should have designers looking for a new job', 'why-a-poker-playing-ai-should-have-desingers-looking-for-a-new-job')
  p.text-muted
    a(href='https://www.anz.com.au') ANZ
  +social('coryannj')
