+abstract('Michael Lippautz', 'Live and let die: Untangling the web of objects', 'live-and-let-die-untangling-the-web-of-objects')
  p.text-muted
    a(href='https://www.google.de') Google
  +social('mlippautz', 'mlippautz')
