+abstract('Ryan Mackey', 'Bringing GraphQL to the Enterprise: When IBM Met Apollo', 'bringing-graphql-to-the-enterprise-when-ibm-met-apollo')
  p.text-muted
    a(href='https://www.ibm.com') IBM
  +social('ReadOnlyMackey', 'ryanomackey')
