+abstract('Ivana McConnell', 'Your algorithm isn\'t neutral: exclusionary UX and how to avoid it', 'your-algorithm-isnt-neutral')
  p.text-muted
    a(href='http://ivanamcconnell.com') Ivana McConnell
  +social('IvanaMcConnell')
