+abstract('Mike Riethmuller', 'The how-to guide to CSS Custom Properties', 'the-how-to-guide-to-css-custom-properties')
  p.text-muted
    a(href='https://madebymike.com.au') Mike Riethmuller
  +social('MikeRiethmuller', 'madebymike')
