+abstract('Mike Riethmuller', 'The strategy guide to CSS Custom Properties', 'the-strategy-guide-to-css-custom-properties')
  p.text-muted
    a(href='https://madebymike.com.au') Mike Riethmuller
  +social('MikeRiethmuller', 'madebymike')
