+abstract('Mike Riethmuller', 'The Strategic guide to CSS Custom Properties', 'the-strategic-guide-to-css-custom-properties')
  p.text-muted
    a(href='https://madebymike.com.au') Mike Riethmuller
  +social('MikeRiethmuller', 'madebymike')
