+abstract('Nicole Saidy', 'Designing Great Progressive Web Apps', 'designing-great-progressive-web-apps')
  p.text-muted
    a(href='https://nicolesaidy.com') Nicole Saidy
  +social('nicolesaidy', 'nicolesaidy')
