+abstract('Ursula Sarracini', 'When Old Meets New: Codebases', 'when-old-meets-new-codebases')
  p.text-muted
    a(href='http://ursulasarracini.com/') Ursula Sarracini
  +social('ursulasarracini', 'sarracini')
