+abstract('Jenny Shen', 'Build bridges, not walls – Design for users across cultures', 'build-bridges-not-walls-design-for-users-across-cultures')
  p.text-muted
    a(href='http://jennyshen.com') Jenny Shen
  +social('jennyshen')
