+abstract('Georg Sorst', 'Psychological safety: How to become a team that learns', 'psychological-safety-how-to-become-a-team-that-learns')
  p.text-muted
    a(href='https://www.findologic.com/') Sara Soueidan
  +social('piefke_schorsch', 'georgms')
