+abstract('Sara Soueidan', 'Practical Frontend Solutions for Creative Design Challenges', 'practical-frontend-solutions-for-creative-design-challenges')
  p.text-muted
    a(href='https://sarasoueidan.com') Sara Soueidan
  +social('SaraSoueidan', 'SaraSoueidan')
