+abstract('Sara Soueidan', 'Unlocking the power of SVG — SVGs beyond icons and illustrations', 'unlocking-the-power-of-svg-svgs-beyond-icons-and-illustrations')
  p.text-muted
    a(href='https://sarasoueidan.com') Sara Soueidan
  +social('SaraSoueidan', 'SaraSoueidan')
