+abstract('Brandon Williams', 'Server-Side Swift from Scratch', 'server-side-swift-from-scratch')
  p.text-muted
    a(href='http://www.fewbutripe.com') Brandon Williams
  +social('mbrandonw', 'mbrandonw')
