nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand.page-scroll
    img(
      src='/images/logos/concat.svg',
      width='50',
      height='50',
      alt='.concat() Logo'
    )

    .collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        block navlinks
          li.hidden
            a(href='#page-top')
          li.nav-item
            a.nav-link.page-scroll(href='http://conc-at.tumblr.com/') News
          li.nav-item
            a.nav-link.page-scroll(href='#talks') Talks
          li.nav-item
            a.nav-link.page-scroll(href='#tickets') Tickets
          li.nav-item
            a.nav-link.page-scroll(href='#a11y') Accessibility
          li.nav-item
            a.nav-link.page-scroll(href='#coc') Code of Conduct
          li.nav-item
            a.nav-link.page-scroll(href='#sponsors') Sponsors
          li.nav-item
            a.nav-link.page-scroll(href='#team') Team
          li.nav-item
            a.nav-link.fa-wrapper(href='https://twitter.com/conc_at')
              i.fa.fa-2x.fa-twitter
