section#a11y.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Accessibility and Inclusion
        h3.section-subheading Our main goal to have an inclusive event with a welcoming atmosphere.
    .row
      .col-md-8.col-md-offset-2
        include:markdown-it a11y.md
