header
  .container
    .intro-text
      h1.intro-heading
        img(
          src='/images/logos/concat.svg',
          alt='.concat() 2018 Logo',
          width='140',
          heiht='140'
        )
        br
        .logo .concat()
        br
        | Salzburg
        br
        | March 3, 2018
      .intro-lead-in the web development and UX conference in Austria
    //-
      a(href="#tickets").btn-xl.
        Tickets available!