include ./modals/clifford
include ./modals/conroy
include ./modals/djirdeh
include ./modals/gasidlo
include ./modals/joseph
include ./modals/koppers
include ./modals/lerdorf
include ./modals/lippautz
include ./modals/mackey
include ./modals/mcconnell
include ./modals/riethmuller
include ./modals/saidy
include ./modals/sarracini
include ./modals/shen
include ./modals/sorst
include ./modals/soueidan
include ./modals/stoiber
include ./modals/vachhar
include ./modals/weyl
include ./modals/williams
include ./modals/vepslinen
include ./modals/coc
include ./modals/legal
