ul.list-group.col-lg-4.col-sm-6
  h2.text-center Party
  .panel.panel-default
    li.list-group-item
      a.list-group-link(href='http://www.marksalzburg.at/') MARK.freizeit.kultur
    li.list-group-item
      a.list-group-link(href='https://www.facebook.com/studio68.salzburg/') Studio68
    list.list-group-item.pb-3
      small.text-muted Click on the map to head over to Google Maps
      a(href="https://www.google.at/maps/place/MARK/@47.824676,13.0627473,17z/data=!3m1!4b1!4m5!3m4!1s0x47769a63a8c5d619:0xb913c902cc16de06!8m2!3d47.824676!4d13.064936", target="_blank")
        img(src="https://maps.googleapis.com/maps/api/staticmap?center=Mark,Hannakstra%C3%9Fe,Salzburg,Austria&zoom=16&size=400x200&key=AIzaSyBVbff7oispHIN0c_BgGhQDILyPdu4W548").img-fluid
