section#videos
  .container
    .row
      .col-12.text-center
        h2.section-heading It was a blast
    .row.text-center.justify-content-center
      .col-10.col-sm-12
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(
            width="1280",
            height="720",
            src="https://www.youtube.com/embed/videoseries?list=PLk6SiqL_RyfcGhAa6pJIi1T8OOcZypPJg",
            frameborder="0",
            allowfullscreen
          )
