section#schedule.bg-light-gray
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Schedule
        h3.section-subheading.text-muted.
          Here is the final .concat() 2018 <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vR6zRwUHYYNV-Johsi7ctYf2mDJfnI_2jWtm5QTZcan8Ux6tgtcGAUhN97AQtMf4AMLiGZGjo6MbFsX/pubhtml" target="_blank">schedule</a>.
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img(src="/images/timeline/breakfast.jpg", srcset="/images/timeline/breakfast@2x.jpg 2x", alt="Breakfast").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Breakfast
                  span.text-primary &nbsp;8:30 AM
                h4.subheading Yogurt bar, fresh juice, …
              .timeline-body
                p.text-muted.
                  A great way to start the day.
          li.timeline-inverted.mb3
            .timeline-image
              img(src="/images/speakers/daniel_clifford.jpg", srcset="/images/speakers/daniel_clifford@2x.jpg 2x", alt="Keynote").img-circle.img-fluid
            .timeline-panel.mb3
              .timeline-heading
                h4
                  | Keynote
                  span.text-primary &nbsp;10 AM
                h4.subheading Optimizing for the real world
              .timeline-body
                p.text-muted.
                  Consistent, good baseline performance across the entire JavaScript language is the central ingredient to a fast web.
    .row
      .schedule-headings.mb3
        h2.text-center
          | Namics Track
        h2.text-center
          | Cube Track
    .row.schedule
      +speaker('Ivana McConnell', 'Your algorithm isn\'t neutral: exclusionary UX and how to avoid it', '#your-algorithm-isnt-neutral').text-right
      .schedule-time
        h4
          | 11:00 <br>-<br> 11:20
      +speaker('Brandon Williams', 'Server-Side Swift from Scratch', '#server-side-swift-from-scratch')
    .row.schedule
      +speaker('Cory-Ann Joseph', 'Why a poker playing AI should have designers looking for a new job', '#why-a-poker-playing-ai-should-have-desingers-looking-for-a-new-job').text-right
      .schedule-time
        h4
          | 11:30 <br>-<br> 11:50
      +speaker('Ursula Sarracini', 'When Old Meets New: Codebases','#when-old-meets-new-codebases' )
    .row.schedule
      +speaker('Ryan Mackey', 'Bringing GraphQL to the Enterprise: When IBM Met Apollo', '#bringing-graphql-to-the-enterprise-when-ibm-met-apollo').text-right
      .schedule-time
        h4
          | 12:00 <br>-<br> 12:20
      +speaker('Ola Gasidlo', 'Let\'s save the internet: How to make browsers compatible with the web', '#lets-save-the-internet-How-to-make-browsers-compatible-with-the-web')
    .row.schedule.mb3
      +speaker('Rasmus Lerdorf', 'PHP in 2018', '#php-in-2018').text-right
      .schedule-time
        h4
          | 12:30 <br>-<br> 12:50
      +speaker('Jenny Shen', 'Build bridges, not walls – Design for users across cultures', '#build-bridges-not-walls-design-for-users-across-cultures')

    .row
      .col-lg-12.mt2
        ul.timeline
          li
            .timeline-image
              img(src="/images/timeline/lunch.jpg", srcset="/images/timeline/lunch@2x.jpg 2x", alt="Lunch").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Lunch
                  span.text-primary &nbsp;1 PM
                h4.subheading Nom, Nom, Nom.
              .timeline-body
                p.text-muted.
                  Delicious food served by Franz. Vegan and omnivore options available.

    .row
      .schedule-headings
        h2.text-center
          | Namics Track
        h2.text-center
          | Cube Track
    .row.schedule
      +speaker('Houssein Djirdeh', 'Thinking PRPL', '#thinking-prpl').text-right
      .schedule-time
        h4
          | 14:00 <br>-<br> 14:20
      +speaker('Nicole Saidy', 'Designing Great Progressive Web Apps', '#designing-great-progressive-web-apps')
    .row.schedule
      +speaker('Estelle Weyl', 'Fast. Simple. Accessible.', '#fast-simple-accessible').text-right
      .schedule-time
        h4
          | 14:30 <br>-<br> 14:50
      +speaker('Michael Lippautz', 'Live and let die: Untangling the web of objects','#live-and-let-die-untangling-the-web-of-objects')
    .row.schedule
      +speaker('Mike Riethmuller', 'The strategy guide to CSS Custom Properties', '#the-strategy-guide-to-css-custom-properties').text-right
      .schedule-time
        h4
          | 15:00 <br>-<br> 15:20
      +speaker('Georg Sorst', 'Psychological safety: How to become a team that learns', '#psychological-safety-how-to-become-a-team-that-learns')
    .row.schedule.mb3
      +speaker('Varun Vachhar', 'Mathematics of Animation', '#mathematics-of-animation').text-right
      .schedule-time
        h4
          | 15:30 <br>-<br> 15:50
      +speaker('Tiffany Conroy', 'Remote device sign-in – Authenticating without a keyboard', '#remote-device-sign-in-authenticating-without-a-keyboard')
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img(src="/images/timeline/schwarzheiss.jpg", srcset="/images/timeline/schwarzheiss@2x.jpg 2x", alt="Coffee").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Caffè
                  span.text-primary &nbsp;4 PM
                h4.subheading Take a break
              .timeline-body
                p.text-muted.
                  We have delicious caffè, Barista style.
          li.timeline-inverted
            .timeline-image
              img(src="/images/timeline/lightning.jpg", srcset="/images/timeline/lightning@2x.jpg 2x", alt="Lightning Talks").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Lightning Talks
                  span.text-primary &nbsp;5:30 PM
                h4.subheading 3mins of fame
              .timeline-body
                p.text-muted.
                  A fun and open format for your idea, talk or whatever you have to say.
          li.timeline-inverted
            .timeline-image
              img(src="/images/speakers/sara_soueidan.jpg", srcset="/images/speakers/sara_soueidan@2x.jpg 2x", alt="Closing Talk").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Closing Talk
                  span.text-primary &nbsp;6 PM
                h4.subheading Last but not least
              .timeline-body
                p.text-muted.
                  Listen to <strong>Sara Soueidan</strong>, closing .concat() 2018 + <strong>family picture</strong> and final notes afterwards.
          li
            .timeline-image
              img(src="/images/timeline/party.jpg", srcset="/images/timeline/party@2x.jpg 2x", alt="Party").img-circle.img-fluid
            .timeline-panel
              .timeline-heading
                h4
                  | Party 🎉
                  span.text-primary &nbsp;9 PM
                h4.subheading Studio 68 &amp; MARK Salzburg
              .timeline-body
                p.text-muted.
                  From 9 PM to Sunday 4 AM. DJs, Karaoke, drinks and two awesome locations.
          li
            .timeline-image
              h4
                | End of
                br
                | .concat()
                br
                | 2018
