section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Talks
        h3.section-subheading One day, two tracks, 18 amazing speakers: Meet our 2018 line-up!
    .row
      +speaker('Ola Gasidlo', 'Let\'s save the internet: How to make browsers compatible with the web', '#lets-save-the-internet-How-to-make-browsers-compatible-with-the-web', '@misprintedtype')
      +speaker('Sara Soueidan', 'Practical Frontend Solutions for Creative Design Challenges', '#practical-frontend-solutions-for-creative-design-challenges', '@SaraSoueidan')
      +speaker('Max Stoiber', 'Styled Components', '#styled-components', '@mxstbr')
    .row
      +speaker('Michele Guido', 'Master of Ceremonies', null, '@sheley')(class='no-abstract')
      +speaker('Kevin Lorenz', 'Master of Ceremonies', null, '@verpixelt')(class='no-abstract')
    .row
      div.col-md-4.col-sm-6
      +speaker('And You', 'Your talk at .concat() 2018', 'https://docs.google.com/forms/d/e/1FAIpQLScsqaGmwRfMLFbImrCuB_-r09KIV6AgC5LMQFf64V53OAEuVw/viewform')

section#cfp.bg-light-gray
  .container
    .row#cfp
      .col-lg-12.text-center
        h2.section-heading Call for Speakers
        h3.section-subheading.text-muted
          a(
          href='https://docs.google.com/forms/d/e/1FAIpQLScsqaGmwRfMLFbImrCuB_-r09KIV6AgC5LMQFf64V53OAEuVw/viewform',
          target="_blank",
          title='Talk submission form'
          ) Submit your talk
          | &nbsp;until Friday, December, 1st 2017.
    .row
      .col-md-8.col-md-offset-2
        include:markdown-it speakers.md
