section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Talks
        h3.section-subheading One day, two tracks, 18 amazing speakers: Meet our 2018 line-up!
    .row
      +speaker('Daniel Clifford', 'When Fast is Faster Than Fastest', '#when-fast-is-faster-than-fastest', '@expatdanno', 'Google')
      +speaker('Tiffany Conroy', 'Remote device sign-in – Authenticating without a keyboard', '#remote-device-sign-in-authenticating-without-a-keyboard', '@theophani', 'Soundcloud')
      +speaker('Houssein Djirdeh', 'Thinking PRPL', '#thinking-prpl', '@hdjirdeh', 'Rangle.io')
      +speaker('Ola Gasidlo', 'Let\'s save the internet: How to make browsers compatible with the web', '#lets-save-the-internet-How-to-make-browsers-compatible-with-the-web', '@misprintedtype', 'Mozilla')
      +speaker('Cory-Ann Joseph', 'Why a poker playing AI should have designers looking for a new job', '#why-a-poker-playing-ai-should-have-desingers-looking-for-a-new-job', '@coryannj', 'ANZ')
      +speaker('Rasmus Lerdorf', 'PHP in 2018', '#php-in-2018', '@rasmus', 'etsy')
      +speaker('Michael Lippautz', 'Live and let die: Untangling the web of objects', '#live-and-let-die-untangling-the-web-of-objects', '@mlippautz', 'Google')
      +speaker('Ryan Mackey', 'Bringing GraphQL to the Enterprise: When IBM Met Apollo', '#bringing-graphql-to-the-enterprise-when-ibm-met-apollo', '@ReadOnlyMackey', 'IBM')
      +speaker('Ivana McConnell', 'Your algorithm isn\'t neutral: exclusionary UX and how to avoid it', '#your-algorithm-isnt-neutral', '@IvanaMcConnell', 'Customer.io')
      +speaker('Mike Riethmuller', 'The strategy guide to CSS Custom Properties', '#the-strategy-guide-to-css-custom-properties', '@MikeRiethmuller', 'Web Developer')
      +speaker('Nicole Saidy', 'Designing Great Progressive Web Apps', '#designing-great-progressive-web-apps', '@nicolesaidy', 'Designer, coach & speaker')
      +speaker('Ursula Sarracini', 'When Old Meets New: Codebases', '#when-old-meets-new-codebases', '@ursulasarracini', 'Mozilla')
      +speaker('Jenny Shen', 'Build bridges, not walls – Design for users across cultures', '#build-bridges-not-walls-design-for-users-across-cultures', '@jennyshen', 'UX & Product Designer')
      +speaker('Georg Sorst', 'Psychological safety: How to become a team that learns', '#psychological-safety-how-to-become-a-team-that-learns', '@piefke_schorsch', 'Findologic')
      +speaker('Sara Soueidan', 'Practical Frontend Solutions for Creative Design Challenges', '#practical-frontend-solutions-for-creative-design-challenges', '@SaraSoueidan', 'Front-end UI/UX developer')
      +speaker('Max Stoiber', 'Styled Components', '#styled-components', '@mxstbr', 'Spectrum.chat')
      +speaker('Varun Vachhar', 'Mathematics of Animation', '#mathematics-of-animation', '@winkerVSbecks', 'League')
      +speaker('Estelle Weyl', 'Fast. Simple. Accessible.', '#fast-simple-accessible', '@estellevw', 'Wev developer, trainer & author')
      +speaker('Brandon Williams', 'Server-Side Swift from Scratch', '#server-side-swift-from-scratch', '@mbrandonw', 'Point-Free').col-md-offset-4
    .row
      +speaker('Michele Guido', 'Master of Ceremonies', null, '@sheley')(class='no-abstract').col-sm-6.col-md-4.col-md-offset-2
      +speaker('Kevin Lorenz', 'Master of Ceremonies', null, '@verpixelt')(class='no-abstract').col-sm-6.col-md-4
    //-.row
      +speaker('And You', 'Your talk at .concat() 2018', 'https://docs.google.com/forms/d/e/1FAIpQLScsqaGmwRfMLFbImrCuB_-r09KIV6AgC5LMQFf64V53OAEuVw/viewform').col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    .row.text-center
      a(href="#tickets").btn-xl.
        Grab your conference ticket

section#workshops
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Workshops
        h3.section-subheading Two amazing instructors, one great topic: Webpack with Juho and Tobias!
    .row
      +speaker('Tobias Koppers', 'Webpack - The Good Parts', '#webpack-the-good-parts-tobias', '@wsokra').col-sm-6.col-md-4.col-md-offset-2
      +speaker('Juho Vepsäläinen', 'Webpack - The Good Parts', '#webpack-the-good-parts-juho', '@bebraw').col-sm-6.col-md-4
    .row.text-center(style="margin-top: 2em;")
      a(href="#workshop-tickets").btn-xl.
        Grab your workshop ticket

//-
  section#cfp.bg-light-gray
    .container
      .row#cfp
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading Call for Speakers
          h3.section-subheading.text-muted.
            Our call for speakers closed December, 1st 23:59 CET. Thank you for all your amazing proposals and the time and effort you have put into that.
