section#talks
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Talks
        h3.section-subheading One day, two tracks, 18 amazing speakers: Meet our 2018 line-up!
    .row
      +speaker('Daniel Clifford', 'When Fast is Faster Than Fastest', '#when-fast-is-faster-than-fastest', '@expatdanno')
      +speaker('Ola Gasidlo', 'Let\'s save the internet: How to make browsers compatible with the web', '#lets-save-the-internet-How-to-make-browsers-compatible-with-the-web', '@misprintedtype')
      +speaker('Rasmus Lerdorf', 'PHP in 2018', '#php-in-2018', '@rasmus')
      +speaker('Sara Soueidan', 'Practical Frontend Solutions for Creative Design Challenges', '#practical-frontend-solutions-for-creative-design-challenges', '@SaraSoueidan')
      +speaker('Max Stoiber', 'Styled Components', '#styled-components', '@mxstbr')
    .row
      +speaker('Michele Guido', 'Master of Ceremonies', null, '@sheley')(class='no-abstract').col-sm-6.col-md-4.col-md-offset-2
      +speaker('Kevin Lorenz', 'Master of Ceremonies', null, '@verpixelt')(class='no-abstract').col-sm-6.col-md-4
    //-.row
      +speaker('And You', 'Your talk at .concat() 2018', 'https://docs.google.com/forms/d/e/1FAIpQLScsqaGmwRfMLFbImrCuB_-r09KIV6AgC5LMQFf64V53OAEuVw/viewform').col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4

section#cfp.bg-light-gray
  .container
    .row#cfp
      .col-lg-12.text-center
        h2.section-heading Call for Speakers
        h3.section-subheading.text-muted.
          Our call for speakers closed December, 1st 23:59 CET. Thank you for all your amazing proposals and the time and effort you have put into that.
