section#tickets
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Tickets
        h3.section-subheading.text-muted
          | include breakfast and lunch served at the venue – and a party.
          br
          small
            | If the form below is not visible or not working for you, please use&nbsp;
            a(href="https://ti.to/concat/2018") this link to get your conference ticket
            | .
    .row.text-center
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Student Tickets
        p.text-muted
          | We want everyone who is interested to attend this conference, thus we will support students with a reduced ticket price.
        tito-button(event='concat/2018', releases='txbahjytc-w')
          | 90€ + VAT
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-3
          i.fa.fa-flash.fa-stack-1x.fa-inverse
        h4.service-heading Early Bird Tickets
        p.text-muted
          | A “thank you” to all of you early birds who trust and enable us to get this conference off the ground.
        button.btn.btn-xl.disabled
          | 150€ + VAT
          span.badge Sold Out
      .clearfix.visible-sm
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-ticket.fa-stack-1x.fa-inverse
        h4.service-heading Regular Tickets
        p.text-muted
          | One full day of knowledge, fun and hanging out with old and new friends. That's our regular ticket.
        tito-button(event='concat/2018', releases='ze-ww7twwsg,sruvupdtfmy,dta6vjxwleo')
          | 225€ + VAT
          //- span.badge Sold Out
      .ticket-info.col-md-3.col-sm-6
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-4
          i.fa.fa-gift.fa-stack-1x.fa-inverse
        h4.service-heading Diversity Tickets
        p.text-muted
          | Free tickets for underrepresented groups in tech. Would you like to attend the conference but cannot afford the ticket?
        a(href="https://goo.gl/wdy2uJ").btn.btn-xl
          | Apply Now
          // span.badge None Left
    .row
      .col-lg-12.text-center
        p.text-muted.
          Tickets are not refundable, but re-assignable.

section#workshop-tickets(style="padding-top: 0;")
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Workshop Tickets
        h3.section-subheading.text-muted
          | Friday, March 2nd
          br
          small
            | If there are not enough attendees to make the workshop happen, we will refund the ticket.
    .row.text-center
      .ticket-info.col-sm-6.col-md-4.col-md-offset-2
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Webpack - The Good Parts
        p.text-muted(style="min-height: auto;")
          | Learn Webpack in a 4hr workshop with Juho and Tobias
        tito-button(event='concat/2018', releases='vbjghgmj4so')
          | 150€ + VAT
      .ticket-info.col-sm-6.col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-2
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Late Bird: Webpack - The Good Parts
        p.text-muted(style="min-height: auto;")
          | Learn Webpack in a 4hr workshop with Juho and Tobias
        button.btn.btn-xl.disabled
          | 250€ + VAT
    .row#travel
      include ./party
      include ./travel
      include ./accomodation

