$color-white: #FFFFFF;
$color-black: #293648;

$color-neutral: #293648;
$color-neutral-90: #394B5B;
$color-neutral-80: #505F6D;
$color-neutral-70: #65737F;
$color-neutral-60: #7C8792;
$color-neutral-50: #919BA4;
$color-neutral-40: #A7AFB6;
$color-neutral-30: #C3C9CD;
$color-neutral-20: #D3D7DB;
$color-neutral-14: #E0E3E5;
$color-neutral-10: #E9EBEC;
$color-neutral-04: #F6F7F8;
